<div id="<%= dom_id resource %>">
  <p>
    <strong>Name:</strong>
    <%= resource.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= resource.description %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= resource.unit %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= resource.category_id %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= resource.brand_id %>
  </p>

</div>
