
<div id="<%= dom_id resource %>">
<td><%= resource.id%> </td>
<td><%= resource.name%></td>
<td><%= resource.description%></td>
<td><%= resource.unit%></td>
<td><%= resource.category_id%></td>
<td><%= resource.brand_id%></td>
</div>