<div id="<%= dom_id construction %>">

 <td>
    <%= construction.id %>
  </td>
  <td>
    <%= construction.name %>
  </td>

  <td>
    <%= construction.startdate %>
  </td>

  <td>
    <%= construction.enddate %>
  </td>

</div>
