<div id="<%= dom_id construction %>">

 <p>
    <strong>Id:</strong>
    <%= construction.id %>
  </p>
  <p>
    <strong>Nombre de obra:</strong>
    <%= construction.name %>
  </p>

  <p>
    <strong>Fecha de inicio:</strong>
    <%= construction.startdate %>
  </p>

  <p>
    <strong>Fecha de termino:</strong>
    <%= construction.enddate %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= construction.cost %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= construction.street %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= construction.number %>
  </p>

  <p>
    <strong>City:</strong>
    <%= construction.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= construction.state %>
  </p>

  <p>
    <strong>Postcode:</strong>
    <%= construction.postcode %>
  </p>

</div>
