<!-- <p style="color: green"><%= notice %></p> -->

<h1 class="d-flex justify-content-md-center">Obras</h1>

<div class="d-flex justify-content-md-center">
<%= search_form_for @q do |f| %>
  <%= f.label :name_cont ,"Nombre", class: "form-label"%>
  <%= f.search_field :name_cont%>
    <%= f.submit %>
  <% end %>
</div>
<div class="d-flex justify-content-md-center">
  <%= search_form_for @q do |e| %>
<%= e.label :id_eq ,"ID", class: "form-label"%>
  <%= e.search_field :id_eq%>
   <%= e.submit %>
  <% end %>
</div>
 
 <div class="d-flex justify-content-md-center">
<table class="table table-bordered table-dark table-hover w-50">
<thead>
<tr>
<th>ID</th>
<th>Nombre de obra</th>
<th>Fecha de inicio</th>
<th>Fecha de termino</th>
<th>Mostrar más</th>
</tr>
</thead>
<tbody>
<div id="constructions">
  <% @constructions.each do |construction| %>
    <tr><%= render construction %>
      <td> <%= link_to "Show this construction", construction %> </td>
    </tr>
  <% end %>

  </tbody>
</table>
</div>

</div>

<div class="d-flex justify-content-md-center">
  <%= paginate @constructions, theme: 'bootstrap-5' %>
</div>
<div class="d-flex justify-content-md-center">
<%= link_to "Nueva Construccion", new_construction_path, class: "btn btn-outline-primary" %>
</div>